
.thumbnail-container {
    position: relative;
}

.no-scroll {
    overflow: hidden;
}

.photo-index-overlay {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 10px 0;
    background-color: #f0f0f0;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
}

.thumbnail.active {
    border-color: #000;
    transform: scale(1.1);
}

.thumbnail:hover {
    transform: scale(1.1);
}

.photo-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white; /* Sfondo bianco */
    color: #000; /* Testo nero */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.photo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: calc(100vw - 80px);
    max-height: 90vh;
}

.photo {
    max-width: 90%;
    max-height: 90%; /* Riduci l'altezza massima per evitare sovrapposizioni */
    object-fit: contain;
    transition: transform 0.3s ease;
    margin-top: 40px; /* Aggiungi un margine superiore per separare l'immagine dal titolo e dal tasto chiudi */
}

.close-btn {
    position: absolute; /* Use fixed to keep it in the top-right corner of the viewport */
    top: 27px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background: transparent;
    color: #000;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width: 40px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Ensure the button is circular */
    z-index: 1001; /* Ensure the button is above other content */
    transition: transform 0.6s ease, background 0.3s ease;
}

.close-btn:hover {
    transform: scale(1.2);
}

.nav-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1001;
    padding: 10px 15px;
    opacity: 0.8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease, background 0.3s ease;
}

.nav-btn:hover {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.prev-btn {
    left: 20px; /* Adjust this value to position the button closer to the left edge */
}

.next-btn {
    right: 20px; /* Adjust this value to position the button closer to the right edge */
}

.photo-info {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.info-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    color: black;
}

.secondary-info-group {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.title {
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display', serif; /* Font elegante */
    font-size: 24px; /* Aumenta la dimensione del font */
    color: #333; /* Colore del testo più sofisticato */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra al testo */
}

.photo-description {
    text-align: left;
    font-family: 'Roboto', sans-serif; /* Font moderno e leggibile */
    font-size: 16px; /* Dimensione del font */
    color: #555; /* Colore del testo più sofisticato */
    margin-top: 10px;
    line-height: 1.6; /* Migliora la leggibilità */
}

/* Media Queries */
@media (max-width: 768px) and (orientation: landscape) {
    .photo-view {
        flex-direction: row; /* Disporre gli elementi in una riga */
        align-items: flex-start; /* Allineare gli elementi all'inizio */
    }

    .photo-container {
        max-width: 100%;
        max-height: 80vh;
    }

    .photo {
        margin-top: 0px; /* Aggiungi un margine superiore per separare l'immagine dal titolo e dal tasto chiudi */
    }

    .photo-index-overlay {
        bottom: 4px;
        right: 3px;
        font-size: 10px;
        padding: 1px 4px;
    }

    .photo-info {
        font-size: 16px;
    }

    .info-group {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        color: black;
    }

    .photo-description {
        display: none;
    }

    .secondary-info-group {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .photo-description {
        display: none;
    }

    .carousel {
        position: fixed; /* Cambia da absolute a fixed */
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        overflow-x: auto;
        padding: 10px 0;
        background-color: #f0f0f0;
        z-index: 1001; /* Assicurati che il carosello sia sopra altri contenuti */
    }
}

@media (max-width: 480px) {
    .close-btn {
        position: absolute; /* Use fixed to keep it in the top-right corner of the viewport */
        top: 29px; /* Adjust the top position as needed */
        right: 5px; /* Adjust the right position as needed */
    }
    .photo-container {
        bottom: 20px;
        max-width: 100%;
        max-height: 80vh;
    }

    .photo {
        margin-top: 0px; /* Aggiungi un margine superiore per separare l'immagine dal titolo e dal tasto chiudi */
    }

    .info-group {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        color: black;
    }

    .photo-index-overlay {
        bottom: 4px;
        right: 6px;
        font-size: 8px;
        padding: 1px 3px;
    }

    .carousel {
        justify-content: flex-start; /* Allinea le immagini all'inizio */
        padding: 10px; /* Aggiungi padding per migliorare la visualizzazione */
        bottom: 110px;
    }

    .thumbnail {
        margin: 0 10px; /* Aumenta il margine per migliorare la spaziatura */
    }

    .photo-info {
        font-size: 14px;
    }
    .secondary-info-group {
        font-size: 12px;
    }


    .nav-btn {
        padding: 5px 10px;
        display: none;
    }

    .prev-btn {
        left: 10px;
        display: none;
    }

    .next-btn {
        right: 10px;
        display: none;
    }
}

